body {
    font-family: 'Mont', sans-serif;
    background-color: #f5f6fa;
}


@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/MontRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/MontBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternatesBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-Bold';
    src: url('../assets/fonts/NunitoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-Regular';
    src: url('../assets/fonts/NunitoSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-SemiBold';
    src: url('../assets/fonts/NunitoSansSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-ExtraBold';
    src: url('../assets/fonts/NunitoSansExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.main-content {
    margin-left: 240px;
    margin-top: 70px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
}

.content-header {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.content-header .text {
    color: #aaaaaa;
    font-family: "Nunito Sans-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.11px;
    line-height: normal;
}

hr {
    height: 1px;
    border: none;
    background-color: #D8D8D8;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
}
/** {*/
/*    outline: 1px solid red;*/
/*}*/