body {
    font-family: 'Mont', sans-serif;
    background-color: #f5f6fa;
}


@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/MontRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/MontBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternatesBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-Bold';
    src: url('../assets/fonts/NunitoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-Regular';
    src: url('../assets/fonts/NunitoSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-SemiBold';
    src: url('../assets/fonts/NunitoSansSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-ExtraBold';
    src: url('../assets/fonts/NunitoSansExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.main-content {
    margin-left: 240px; /* ширина Sidebar */
    margin-top: 70px; /* высота Header */
    height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9; /* по желанию */
}

/** {*/
/*    outline: 1px solid red;*/
/*}*/