.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 240px;
    height: calc(100vh - 70px);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0 ;
}






