.notifications {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 26px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #f93c65;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-family: Nunito Sans, sans-serif;
    line-height: 1;
}
