.registrationForm {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;

}

.div {
    background-color: #ffffff;
    height: 832px;
    position: relative;
    width: 1280px;
}

.header {
    font-family: "Montserrat Alternates", sans-serif;
    color: #aaaaaa;
    font-size: 18px;
    font-weight: 700;
    left: 561px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 160px;
}

.firstStep {
    .group {
        height: 39px;
        left: 465px;
        position: absolute;
        top: 233px;
        width: 344px;
    }
    .companyInformation {
         color: #aaaaaa;
         font-size: 14px;
         font-weight: 600;
         left: 137px;
         letter-spacing: 0;
         line-height: normal;
         position: absolute;
         top: 0;
     }
    .personalInformation {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        left: 5px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
    }
    .securityCheckup {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 600;
        left: 274px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
    }
    .agreeLabel {
        color: transparent;
        font-size: 10px;
        font-weight: 600;
        height: 11px;
        letter-spacing: 0;
        line-height: normal;
        margin-top: 3px;
        position: relative;
        white-space: nowrap;
        width: 184px;
    }
}
.secondStep {
    .group {
        height: 39px;
        left: 471px;
        position: absolute;
        top: 233px;
        width: 338px;
    }
    .companyInformation {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        left: 130px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
    }
    .personalInformation {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 600;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
    }
    .securityCheckup {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 600;
        left: 268px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
    }
}
.thirdStep {
    .group {
        height: 39px;
        left: 471px;
        position: absolute;
        top: 233px;
        width: 344px;
    }
    .companyInformation {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 600;
        left: 131px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
    }
    .personalInformation {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 600;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
    }
    .securityCheckup {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        left: 267px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
    }
}


.underline {
    background-color: #040510;
    border-radius: 10px;
    height: 3px;
    width: 94px;
    position: absolute;
    top: 36px;
    left: 0; /* Фиксируем начальную точку */
}

.firstInput {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    left: 517px;
    position: absolute;
    top: 317px;
}
.secondInput {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    left: 517px;
    position: absolute;
    top: 382px;
}
.thirdInput {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    left: 517px;
    position: absolute;
    top: 447px;
}

.inputLabel {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}
.inputField {
    caret-color: #000000;
    outline: none;
    padding-left: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 24px;
    position: relative;
    width: 252px;
}

.customCheckbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.customCheckbox input {
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1;
}
.customCheckbox .checkmark {
    border: 1px solid #000;
    border-radius: 3px;
    width: 12px;
    height: 11px;
    background-color: white;
    display: inline-block;
    transition: all 0.2s;
}
.customCheckbox input:checked + .checkmark {
    background-color: #000;
}

.firstStep .agreeInput {
    align-items: flex-start;
    display: inline-flex;
    gap: 4px;
    left: 524px;
    position: absolute;
    top: 509px;
}


.nextButton {
    all: unset;
    align-items: center;
    background-color: #040510;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 695px;
    padding: 10px 16px 10px 25px;
    position: absolute;
    top: 545px;
    width: 94px;
    cursor: pointer;

}
.nextButton .text {
    font-family: "Montserrat Alternates", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.backButton {
    all: unset;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 505px;
    padding: 10px 25px 10px 16px;
    position: absolute;
    top: 545px;
    width: 98px;
    cursor: pointer;

}
.backButton .text {
    font-family: "Montserrat Alternates", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}


.error {
    color: red; /* Цвет текста ошибки */
    font-size: 10px; /* Размер шрифта для ошибок */
    margin-top: 3px; /* Отступ сверху от поля ввода */
    font-weight: bold; /* Чтобы ошибка была более заметной */
}




